# Binaries for programs and plugins
config.yaml


# Test binary, built with `go test -c`
users.proto
proto-3

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
